* {
    font-family: 'Noto Sans TC', sans-serif;
}

.navbar-brand img {
  width: 80px;
}

.bg-light {
  background: white!important;     
}

header {
    box-shadow: 0 0 3px rgba(0,0,0, 0.2);
}

.container {
    /* padding-bottom: 40px; */
}

.container h1 {
    text-align: center;
    margin: 40px 0;
}
.category-desc {
    padding: 40px;
}

.divider {
    height: 1px;
    border-bottom: 1px solid rgb(230, 228, 228);
    margin: 40px 0;
}
.category {
    padding-bottom: 40px;
}
.products {
    background: rgba(233, 233, 233, 0.3);
    padding: 40px 0;
}
.form-group-center {
    text-align: center;
}

.subscription input {
    margin: 10px 0;
}